* {
  box-sizing: border-box;
}
*,
:after,
:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: "Press Start 2P", cursive;
}
h1 {
  display: center;
  display: flex;
  justify-content: center;
  color: orangered;
  font-family: righteous, sans-serif;
  font-weight: bolder;
  font-size: 60px;
  text-shadow: 2px 2px yellow;
}
body {
  height: 100vh;
  margin: 0;
  background: black;
}

.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.grid div {
  /* border: 1px solid red; */
  height: 5%;
  width: 5%;
}

.wall-top {
  border-top: 3px solid #7df9ff;
  box-shadow: #7df9ff;
}
.wall-right {
  border-right: 3px solid #7df9ff;
}
.wall-bottom {
  border-bottom: 3px solid #7df9ff;
}
.wall-left {
  border-left: 3px solid #7df9ff;
}

.snake {
  background-image: url(./assets/diamond.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px white solid;
  border-radius: 7px;
}
.head {
  background-image: url(./assets/head.png);
  border-radius: 50px;
}

.grid div.pizza {
  background: url(./assets/pizza.gif);
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.burger {
  background-image: url(./assets/burger.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
button {
  position: relative;
  display: inline-block;
  outline: none;

  background: #1d9650;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  font-family: "Press Start 2P", cursive;
  transform: perspective(400px) rotateX(3deg);
  line-height: 2;
  padding: 0;
  overflow: visible;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 8px 15px grey;
  transition: color 0.1s ease-in 0.1s, transform 0.185s ease-in,
    box-shadow 0.15s ease-in;
}
.video-wrapper {
  display: none;
}
