* {
  box-sizing: border-box;
}
h1 {
  display: center;
}
body {
  height: 100vh;
  margin: 0;
}


.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.grid div {
  border: 1px solid lightgrey;
  height: 5%;
  width: 5%;
}
 .snake {
   background: red ;
  
 }