* {
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: "Press Start 2P", cursive;
}
h1 {
  display: center;
  display: flex;
  justify-content: center;
  color: orangered;
  font-family: righteous, sans-serif;
  font-weight: bolder;
  font-size: 60px;
  font-weight: ;
}
body {
  height: 100vh;
  margin: 0;
  background: black;
}

.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.grid div {
  /* border: 1px solid red; */
  height: 5%;
  width: 5%;
}

.wall-top {
  border-top: 1px solid #5b5b5b;
}
.wall-right {
  border-right: 1px solid #5b5b5b;
}
.wall-bottom {
  border-bottom: 1px solid #5b5b5b;
}
.wall-left {
  border-left: 1px solid #5b5b5b;
}

.snake {
  background-image: url(./assets/snake\ diamond.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.head {
  background: green;
  border-radius: 30%;
}

.grid div.pizza {
  background: url(./assets/pizza.gif);
  background-repeat: no-repeat;
  background-size: contain;
}

grid div.sandwich {
  background-image: url(./assets/sandwich.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
button {
}
